<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <% if (currentUser) { %>
  <p>Welcome <%= currentUser.username %>!
    <a href="/logout">Logout</a>
  </p>
  <% if (currentUser.is_member) { %>
  <% if (!currentUser.is_admin) { %>
  <p>Become an <a href="/admin">admin</a> to delete messages.</p>
  <% } %>
  <a href="/message">Create a new message</a>
  <% } else { %>
  <p>Become a <a href="/membership">member</a> to see message details and post your own messages.</p>
  <% } %>
  <% } else { %>
  <p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> and become a member to see message details and post your own messages.</p>
  <% } %>
  <% if (locals.messages.length > 0) { %>
  <ul>
    <% messages.forEach(message=>{ %>
    <li>
      <p>Title: <%= message.title %></p>
      <p><%= message.message %></p>
      <p>Posted by: <%= currentUser && currentUser.is_member ? `${message.username} on ${message.date}` : 'Anonymous User' %></p>
      <% if (currentUser && currentUser.is_admin) { %>
      <a href="/message/<%= message.id %>">Delete</a>
      <% } %>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>No messages yet :&lpar;</p>
  <% } %>
</body>

</html>